* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: "Poppins";
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  body {
    padding: 2rem;
  }

  h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.4rem;
  }

  button {
    float: right;
    background: none;
    color: #666;
    border: 1px solid #eee;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
