& {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  background-color: #eee;
  border-radius: 0.3rem;

  & + & {
    margin-left: 0.4rem;
  }

  &.no-background {
    background: none;
  }
}
