<h1>CONGRATULATIONS</h1>

<p>
  You deserve to be rewarded for your excellent taste and knowledge!
</p>

<p>
  Your prize is an all-expenses-paid mini-break at Casale Panayiotis spa - relax and enjoy! &#9786;
</p>
