<h1>Welcome!</h1>

<p>
  We're about to ask you some questions. Answer correctly and you may win a prize...
</p>

<p>
  Good luck!
</p>

<button {{action (route-action "startQuiz")}}>
  Start
</button>
